.basic-panel {
  align-items: center;
  align-content: center;
  padding: .65em;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: var(--input-border-radius);
}

.basic-panel.framed {
  border: 1px solid var(--general-border-color);
  box-shadow: var(--panel-shadow);
}

.basic-panel.filled {
  background-color: var(--panel-bg-color) !important;
}

.basic-panel.width-fit {
  width: fit-content;
}

.basic-panel.width-xs {
  min-width: 150px;
  max-width: 300px;
}

.basic-panel.width-sm {
  min-width: 300px;
  max-width: 450px;
}

.basic-panel.width-md {
  min-width: 400px;
  max-width: 600px;
}

.basic-panel.width-lg {
  min-width: 600px;
  max-width: 1200px;
}

.basic-panel.width-full {
  min-width: 1200px;
  max-width: 1200px;
}
