.sidebar-container {
  position: relative;
  width: var(--sidebar-width-open);
  border-right: 1px solid #404042;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  line-height: normal;
  overflow-x: hidden;
  height: calc(100vh - var(--header-height) - var(--footer-height) );
  margin-left: 0px;
}

.sidebar-container.sidebar-reopened {
  margin-left: 0px;
  animation: .25s 1 alternate slidein;
}

.sidebar-container.sidebar-closed {
  margin-left: calc(var(--sidebar-width-open) * -1);
  border-right: none;
  animation: .25s 1 alternate slideout;
}

@keyframes slideout {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: calc(var(--sidebar-width-open) * -1);
  }
}

@keyframes slidein {
  from {
    margin-left: calc(var(--sidebar-width-open) * -1);
  }

  to {
    margin-left: 0px;
  }
}

.sidebar-wrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: normal;
  width: var(--sidebar-width-open);
  overflow-x: hidden;
}

.sidebar-panel {
  background-color: #6663;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: normal;
  width: var(--sidebar-width-open);
}

.sidebar-nav {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: var(--sidebar-width-open);
}
