div.input-control {
  height: 33px;
  width: fit-content;
  cursor: default;
}

div.input-control,
div.input-control:focus,
div.input-control:active {
  appearance: none;
  background-position-y: 10px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  color: var(--body-color);
  background-position-x: calc(100% - 7px);
  background-size: 12px 10px;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  padding: 4px 26px 4px 8px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23545a60%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
}
