.app-footer {
    height: var(--footer-height);
    min-height: var(--footer-height);
    max-height: var(--footer-height);
    background-color: var(--footer-bg-color);
    justify-content: center;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--header-border-color);
    color: var(--app-subtle-color);
  }
  