.app-main-section {
  display: flex;
  margin-top: var(--header-height);
}

main {
  margin-left: 10px;
  margin-top: 5px;
  width: 100%;
}

.outlet-container {
  min-width: 900px;
  max-width: 1240px;
  margin: auto;
}