.app-main-section {
  display: flex;
  margin-top: var(--header-height);
}

main {
  margin-left: 10px;
  margin-top: 5px;
  width: 100%;
}

.outlet-container {
  width: 100%;
  max-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow-y: auto;
}

.outlet-pane {
  min-width: 900px;
  max-width: 1240px;
  margin: auto;
}